# Ignore everything
*

# Allow necessary source files
# Note: test suite is intentionally skipped
!include/**
!ngx_conf/**
!public/**
!src/**

# Allow build files in top-level directory
!meson.build
!meson_options.txt
!config*
